services:
  - type: web
    name: n8n
    env: docker
    plan: free
    branch: main
    autoDeploy: true
    healthCheckPath: "/"
    envVars:
      - key: N8N_HOST
        value: 0.0.0.0
      - key: N8N_PORT
        value: 5678
      - key: N8N_PROTOCOL
        value: http
      - key: WEBHOOK_URL
        value: https://your-render-subdomain.onrender.com/
